/* Add styles to all elements */
* {
	margin: 0; /* remove default margin from all elements */
	padding: 0; /* remove default padding from all elements */
	box-sizing: border-box; /* fix width calculation, more info here: https://developer.mozilla.org/en-US/docs/Web/CSS/Reference/Properties/box-sizing */
}

/* Write your CSS below (feel free to change the styles already here) */
body {
	font-family: monospace;
	background-color: rgb(147, 246, 140);
}